<nav class="menu">
  <LinkTo @route="home" class="menu-home">
    <h1>Experimetal Intelligence</h1>
  </LinkTo>
  <div class="links">
    <LinkTo @route="about" class="menu-about">
      About
    </LinkTo>
    <LinkTo @route="characters" class="menu-characters">
      Characters
    </LinkTo>
  </div>
</nav>