<Cocojumbo>
    <h2>About us at Experimental Intelligence</h2>
    <p>
        We, Experimental Intelligence personnels, have envisioned in implementing
        Artificial Intelligence in augmenting all aspects of life. This aspects
        includes health, science and technology, financing, industry, etc., using
        the state-of-the-art technology used by robotic and computer engineers, 
        together with the latest known methods used by many known computer scientists, 
        data scientists, and data analysts, to create a fail-safe and versatile mind 
        for the A.I.s We, have devoted our efforts to create a world where humans and 
        machines co-exist. We can create those entities from fiction to non-fiction,
        thanks to the rapid advancement of technology.
    </p>
    <LinkTo @route="home" class="button">Home</LinkTo>
</Cocojumbo>
