
<Cocojumbo>
    <h2>Entities of Experminental Intelligence</h2>
    <p>
        These are the list of all existing entities, which are separated according
        to their usability, and traits of their corresponding attributes: 
    </p>
    <PeopleList @title="" @people={{@model}} />
</Cocojumbo>
