
<Cocojumbo>
    <h2>Welcome to the Experimental Intelligence Facility</h2>
    <p>
        This is a testing ground for managing different A.I. entities, which are
        suitable for performing specific roles in today's modern society.
    </p>
    <LinkTo @route="characters" class="button">Characters</LinkTo>
    <LinkTo @route="about" class="button">About</LinkTo>
</Cocojumbo>